{% extends "egghunt/white.html" %}
{% load staticfiles %}
{% block title %}Clues{% endblock %}
{% block pagetitle %}{{ egg.locationName }}{% endblock %}
{% block main %}

			<!-- The clues -->
				<section id="clues" class="wrapper">

                        <header class="major special">
                            <h2>{{ egg.locationName }}</h2>
                            <p>Part {{ egg.level }} Clue {{ egg.sequenceNumber }}</p>
                        </header>

                        <div class="container">
                            <p>
                                {{ egg.textClue }}
                            </p>
                            <div class="row 50% uniform">
								{% for image in egg.image_set.all %}
                                <div class="12u$"><span class="image fit"><img src="{{ image.image.url }}" alt="" /></span></div>
                                {% endfor %}
                            </div>
                        </div>

				</section>




            <!-- Back to map -->
				<section id="backtomap" class="wrapper style1 special">
					<div class="container">

						<ul class="actions">
							<li><a href="{% url 'map' %}" class="button special big">Back to the map</a></li>
						</ul>
					</div>
				</section>

{% endblock %}