{% extends "egghunt/white.html" %}
{% block title %}Leaderboard{% endblock %}
{% block main %}
			<!-- Leaderboard -->
				<section id="leaderboard" class="wrapper style1">
					<div class="container">
						<header class="major special">
							<h2>Leaderboard</h2>
						</header>
                        <header><h3>Part 1</h3></header>
                        {% if leader1 %}
						<div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>Position</th>
											<th>Name</th>
											<th>Time</th>
										</tr>
									</thead>
									<tbody>
                                    {% for leader in leader1 %}

										<tr>
											<td>{{ forloop.counter }}</td>
											<td>{{ leader.name }}</td>
											<td>{{ leader.publicationDate }}</td>
										</tr>
                                    {% endfor %}
									</tbody>
								</table>
							</div>
                        {% else %}
                        No-one here yet
                        {% endif %}

                        <header><h3>Part 2</h3></header>
                        {% if leader2 %}

                        <div class="table-wrapper">
								<table>
									<thead>
										<tr>
											<th>Position</th>
											<th>Name</th>
											<th>Time</th>
										</tr>
									</thead>
									<tbody>
                                    {% for leader in leader2 %}

										<tr>
											<td>{{ forloop.counter }}</td>
											<td>{{ leader.name }}</td>
											<td>{{ leader.publicationDate }}</td>
										</tr>
                                    {% endfor %}
									</tbody>
								</table>
							</div>
                        {% else %}
                        No-one here yet
                        {% endif %}

					</div>
				</section>
{% endblock %}